<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENTful</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/profile.css">
    <script src="https://kit.fontawesome.com/f18b88846d.js"></script>
    <link rel="shortcut icon" href="img/favicon.png" type="image/ico" />
</head>

<body>
    <%- include('../partials/header.ejs') -%>

    <div class="card">
        <div id="resizer">
            <img class="" src="img/logo.png" alt="Profile image">
        </div>
        <div class="card-body">
            <h5 class="card-title">RENTful</h5>
            <h6 class="card-subtitle mb-2 text-muted">Creator: Nikita Myshuniaiev (nmyshuniaiev@gmail.com)</h6>
            <br>
            <b><p class="card-text">Technologies used:</p></b><br>
            <a class="card-text"> Front end: HTML, CSS, Bootstrap, JavaScript, jQuery, CodePen </a>
            <br><br>
            <a class="card-text"> Back end: Node.js, Express, MongoDB, bcrypt, passport.js, AWS S3, git, Google Maps API, Geocode API</a>
            <br>
        </div>
    </div>

</body>

</html>